<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="cn.edu.nju.cs.seg.dao.UserDaoImpl"/>
    <bean class="cn.edu.nju.cs.seg.dao.EssayDaoImpl"/>
    <bean class="cn.edu.nju.cs.seg.dao.StudioDaoImpl"/>
    <bean class="cn.edu.nju.cs.seg.dao.QuestionDaoImpl"/>
    <bean class="cn.edu.nju.cs.seg.dao.AnswerDaoImpl"/>
    <bean class="cn.edu.nju.cs.seg.dao.CommentDaoImpl"/>


</beans>